@import url('./variables');

@font-face {
  src: url('../font/Tajawal-Medium.ttf') format('truetype');
  font-family: 'tajwal';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'tajwal', sans-serif;
    text-rendering: optimizeLegibility;
}
body{
    background-color: var(--bg-100);
}
html::-webkit-scrollbar {
  width: .2rem;
  background-color: var(--bg-100);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--primary-100);
  width: .2rem;
}
header{
  background-color: var(--bg-200);
}
header .headOne{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
}
header .headOne .dropdown-toggle{
  background: none;
  outline: none;
  border: none;
}
header .headOne .line{
  width: 1px;
  height: 20px;
  background-color: var(--text-100);
  margin: 0 .2rem;
}
header .headOne .phone_email, .lang_profile_needs{
  display: flex;
  align-items: center;
  gap: .5rem;
  direction: rtl;
}
header .headOne .phone_email a{
  color: var(--text-100);
  transition: all 0.3s ease;
}
header .headOne .phone_email a:hover{
  color: var(--primary-100);
}
header .headOne .phone_email a i{
  margin-left: 2px;
  color: var(--primary-100);
}
header .headOne .dropdown button{
  cursor: pointer;
}
header .headOne .dropdown i{
  color: var(--primary-100);
}
.headTwo{
  width: 80%;
}
.headThree{
  background-color: var(--bg-200);
}
.headThree .menu_Search{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.headThree .search_btn{
  gap: .5rem;
  display: flex;
  align-items: center;
}
.headThree .search_btn .search{
  position: relative;
  margin: 0;
}
.headThree .search_btn .search i{
  position: absolute;
  top:12px;
  left:12px;
}
.headThree .search_btn .search input{
  background-color: var(--bg-100);
  width:40px;
  height:40px;
  border-radius: 50%;
  padding: 0 20px;
  border: none;
  outline: none;
  text-align: right;
  transition: all 0.3s ease;
}
.headThree .search_btn .search input:focus{
  width: 100%;
  border-radius: 5px;
  padding: 0 10px 0 35px;
}
.headThree .search_btn button{
  padding: 12px 30px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--primary-100);
  color: var(--text-100);
  transition: all 0.3s ease;
}
.headThree .search_btn button:hover{
  background-color: var(--primary-200);
  color: var(--text-300);
}
.headThree .menu_Search ul{
  display: flex !important;
  align-items: center;
  gap: 1.5rem;
  direction: rtl;
  margin: 0;
  list-style: none;
}
.headThree .menu_Search ul li a{
  text-decoration: none;
  color: var(--text-100);
  transition: all 0.3s ease;
  font-weight: 600;
}
.headThree .menu_Search ul li a:hover{
  color: var(--primary-100);
}
.headThree .menu_Search .fa-bars, .headThree .menu_Search .fa-times{
  display: none;
}
@media screen and (max-width: 560px) {
  header .headOne .lang_profile_needs{
    display: none;
  }
  header .headOne{
    justify-content: center;
    width: 100%;
  }
  header .headOne .phone_email{
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .5rem;
    width: 90%;
  }
  header .headOne .line{
    display: none;
  }
  .headThree .menu_Search{
    width: 95% !important;
    gap: .3rem;
  }
  .headThree .search_btn{
    gap: .2rem;
  }
  .headThree .search_btn button{
    padding: 10px !important;
  }
}
@media screen and (max-width: 768px) {
  header .headOne .lang_profile_needs .profile{
    display: none;
  }
  .headTwo{
    display:none !important;
  }
  .headThree{
    margin: 5px 0 4px;
  }
  .headThree .menu_Search{
    width: 90%;
    gap: .3rem;
  }
  .headThree .menu_Search ul.activeMenu{
    width: 100% !important;
  }
  .headThree .search_btn button{
    padding: 10px 15px;
  }
}

@media screen and (max-width:991px){
  header .headOne .lang_profile_needs .dropdown:nth-child(1),
  header .headOne .lang_profile_needs .line{
    display: none;
  }
}
@media screen and (max-width:1300px){
  .headThree .menu_Search ul{
    display: none !important;
  }
  .headThree .menu_Search ul.activeMenu{
    display: flex !important;
    position: absolute;
    top:0;
    right:0;
    z-index: 99;
    height: 100vh;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-200);
    position: fixed;
    gap: 3rem !important;
    display: none;
    box-shadow: -5px 0 100px rgba(0,0,0,0.1);
  }
  .headThree .menu_Search ul.activeMenu .fa-times{
    display: block ;
    position: absolute;
    top:30px;
    left: 30px;
    background-color: var(--bg-100);
    padding: .5rem .8rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    cursor: pointer;
  }
  .headThree .menu_Search .fa-bars{
    display: flex;
    font-size: 20px;
    cursor: pointer;
    margin-top: 13px;
  }
}


/* Swipper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.swiper .swiper-wrapper .swiper-slide .content{
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  margin: 0 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  justify-content: center;
  gap: 2rem;
}
.swiper .swiper-wrapper .swiper-slide .content h1{
  font-size: 50px;
  position: relative;
  font-weight: 600;
}
.swiper .swiper-wrapper .swiper-slide .content h1::after{
  content: '';
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 4px;
  background-color: var(--primary-300);
  margin: 1rem 0;
  border-radius: 10px;
}
.swiper .swiper-wrapper .swiper-slide .content .btns{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}
.swiper .swiper-wrapper .swiper-slide .content .btns a button{
  padding: 12px 35px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
}
.swiper .swiper-wrapper .swiper-slide .content .btns a:nth-child(1) button{
  background-color: var(--primary-300);
  color: var(--text-100);
}
.swiper .swiper-wrapper .swiper-slide .content .btns a:nth-child(1) button:hover{
  background-color: var(--primary-100);
  color: var(--text-300);
}
.swiper .swiper-wrapper .swiper-slide .content .btns a:nth-child(2) button{
  background-color: var(--primary-200);
  color: var(--text-300);
}
.swiper .swiper-wrapper .swiper-slide .content .btns a:nth-child(2) button:hover{
  box-shadow: 0 0 0 2px var(--primary-100), 0 0 0 4px var(--primary-200);
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev{
  background-color: var(--bg-200);
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
}

.swiper-button-next:after, .swiper-button-prev:after {
  color: var(--text-100);
  font-size: 15px !important;
  font-weight: bolder;
}
@media screen and (max-width: 600px){
  
  .swiper .swiper-wrapper .swiper-slide .content{
    gap: .5rem;
    width: 90%;
    margin: 0 15%;
  }
  .swiper .swiper-wrapper .swiper-slide .content .btns a:nth-child(1) button{
    display: none;
  }
  .swiper .swiper-wrapper .swiper-slide .content .btns a:nth-child(2) button{
    padding: 10px 20px;
    font-size: 10px;
  }
  .swiper .swiper-wrapper .swiper-slide .content h1{
    font-size: 25px;
  }
  .swiper .swiper-wrapper .swiper-slide .content h1::after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 3px;
    background-color: var(--primary-300);
    margin: 1rem 0;
    border-radius: 10px;
  }
}
@media screen and (min-width:601px) and (max-width: 920px) {
  .swiper .swiper-wrapper .swiper-slide .content{
    top: 20px;
    justify-content: start;
    gap: 1.5rem;
  }
}

/* Counter */
.counter{
  background-color: var(--bg-100);
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  position: relative;
  top: -70px;
  z-index: 8;
}

.counter .counter_img img{
  width: 100%;
}
.counter .counter_parent{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 3rem;
}
.counter .counter_parent .content{
  display: flex;
  gap: 1rem;
}
.counter .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}
.counter .text h2{
  color: var(--text-100);
  font-weight: 600;
}
.counter .text .content a{
  direction: rtl;
  text-decoration: none;
  color: var(--text-100);
  transition: all 0.3s ease;
}
#counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#counter span{
  font-size: 25px;
}
/* Style the individual digits */
.digit {
  background-color: #fff;
  outline: 10px solid #eee;
  color: #333;
  padding: 1.5rem;
  margin: 1rem;
  font-weight: bolder;
}
.counter .counter_parent .btns{
  display: flex;
  gap: .5rem;
  justify-content: space-between;
}
.counter .counter_parent .btns button{
  border-radius: 25px;
  padding: 10px 30px;
  font-weight: 600;
  border:none;
  cursor: pointer;
}
.counter .counter_parent .btns button:nth-child(1){
  background-color: var(--bg-200);
  color: var(--text-200);
}
.counter .counter_parent .btns button:nth-child(2){
  background-color: var(--primary-100);
  color: var(--text-300);
}

@media screen and (max-width: 600px){
  .counter{
    padding: 1rem 0 !important;
    width: 100% !important;
  }
  .counter .counter_parent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
  }
  #counter{
    gap: 0rem;
    justify-content: center !important;
  }
  .digit {
    outline: 8px solid #eee !important;
    color: #333;
    padding: .7rem !important;
    margin: .7rem !important;
  }
  /* Style the individual digits */
  .counter .counter_parent .btns{
    display: block;
    width: 100%;
    margin: auto;
  }
  .counter .counter_parent .btns button{
    width: 100%;
    margin: 5px auto;
  }
  .counter .counter_img{
    display: flex !important;
  }
}

@media screen and (max-width:767px){
  .counter{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    top: .5rem;
  }
  #counter{
    justify-content: center;
  } 
  .digit {
    background-color: #fff;
    outline: 10px solid #eee;
    color: #333;
    padding: 1rem;
    margin: 1rem;
    font-weight: bolder;
  }
  .counter .counter_img{
    display: none;
  }
}
@media screen and (min-width:768px) and (max-width:1100px){
  .counter{
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 0;
  }
  .counter .counter_img{
    display: none;
  }
  #counter{
    justify-content: center;
  }
}

/* Details */
.details{
  width: 80%;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  text-align: right;
  gap: 1rem;
}
.details .content{
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}
.details .content h2{
  font-weight: 600;
}
.details .content .line_title{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.details .content .line{
  width: 70px;
  height: 3px;
  background-color: var(--primary-100);
  border-radius: 10px;
  margin-top: -10px;
}
.details .content a button{
  padding: 12px 45px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--primary-100);
  color: var(--text-300);
}
.details .details_img img{
  width: 150%;
}
@media screen and (max-width:767px){
  .details{
    width: 90%;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 30px 20px;
    margin-top: 2rem;
  }
  .details .details_img{
    display: none;
  }
}
.counter_details{
  background-color: var(--bg-200);
  padding: 0 0 20px 0;
}

/*  instatude_services */
.instatude_services{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  margin: 3rem auto;
}
.instatude_services .title h2{
  font-weight: 600;
  color: var(--text-100);
}
.instatude_services .title .line_title{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.instatude_services .title .line{
  width: 100px;
  height: 2px;
  background-color: var(--primary-100);
  border-radius: 10px;
}
.instatude_services .cards{
  direction: rtl;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-between;
  gap: 1rem;
}
.instatude_services .cards .card{
  background-color: var(--bg-200);
  border-radius: 1rem;
  padding:2rem 1rem;
  display: grid;
  justify-content: center;
  gap: 2rem;
  transition: all 0.3s ease;
  border: 3px solid var(--bg-100);
}
.instatude_services .cards .card:hover{
  cursor: pointer;
  transform: translateY(-10px);
  border: 3px solid var(--primary-100);
}
.instatude_services .cards .card img{
  width: 100%;
}
.instatude_services .cards .card h3{
  font-weight: 600;
  color: var(--text-100);
}
@media screen and (max-width: 767px){
  .instatude_services{
    width: 90%;
  }
}

/* Statistics */
.Statistics{
  margin: 3rem 0 5rem 0;
  width: 100%;
  padding: 2rem 0;
  background-color: var(--primary-100);
}
.Statistics .num_text h2{
  font-size: 50px;
  font-weight: normal;
  color: var(--text-300);
  margin: 1rem 0 0;
}
.Statistics .num_text h3{
  font-weight: 600;
  color: var(--text-100);
  margin: 0 0 1rem;
}

/* !Stick */
.sticky{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

/* !BtnToTop */
.btnTop{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-100);
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--text-300);
  z-index: 3;
  position: fixed;
  display: none;
  transition: all 0.3s ease;
}
.btnTop:hover{
  transform: translateY(-5px);
}