:root{
    --bg-100: #ffffff;
    --bg-200: #f5f5f5;
    --primary-100 : #f9a51b;
    --primary-200 : #544c42;
    --primary-300 : #eeeeee;
    --text-100:#000000;
    --text-200:#4caf50;
    --text-300:#ffffff;
  }